@charset "utf-8";
/* CSS Document */
* { margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	background-color: rgba(171,245,182,1.00);
}
#contenedor {
    margin: auto;
    width: 1200px;
    height: auto;
    
}


#encabezado {
    height: 150px;
    background-image: url(img/enc.jpg);
	/*width: 1200px;*/
}
 h1 {
    color: #EB1E21;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;	 
}

#botonera {
    height: 60px;
    background-color: rgba(251,23,33,1.00);
	
}
#botonera ul {
    width: 850px;
    margin: auto;

}

#botonera ul li {
    width: 200px;
    float: left;
    text-align: center;
    list-style-type: none;
    line-height: 60px;
}

#botonera ul li a {
    color: rgba(249,244,244,1.00);
    font-size: 16px;
    font-weight: 600px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
} 

#botonera ul li a:hover {
    color: rgba(57,37,232,1.00);
	
}

h2{
    color: rgba(95,5,140,1.00);
    font-size: 22px;
    text-align: center;
    text-transform: capitalize;    
}



 h3 {
    text-align: center;
    color: rgba(59,38,240,1.00);
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

#centro{
    height: 700px;
	background-color: rgba(252,252,252,0.4);
     overflow: hidden;
}

#accordion img{
	margin-left: 260px;
	
}
#caja1 {
    height: 150px;
    width: 1100px;
    
    background-color: rgba(224,223,219,1);
    margin: 10px 0px 10px 37px;
    border: 1px solid black;
    border-radius: 30;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    border-spacing: 20px 0px;
    }
#caja1 h3{
    color: rgba(217,4,4,1);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 0 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;

}
 #caja1 p{
    text-align: justify;
    font-size: 20px;
  margin-left: 20px;
   margin-right: 20px;
      }
#caja2 {
    height: 150px;
    width: 1100px;
    
    background-color: rgba(224,223,219,1);
    margin: 10px 0px 10px 37px;
    border: 1px solid black;
    border-radius: 30;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    border-spacing: 20px 0px;
    }
#caja2 h3{
    color: rgba(217,4,4,1);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 0 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;

}
 #caja2 p{
    text-align: justify;
    font-size: 20px;
  margin-left: 20px;
	 margin-right: 20px;
		 
	 }
.cajas{
    height: 300px;
    width: 250px;
    float: left;
    background-color: rgba(224,223,219,1);
    margin: 30px 0px 0px 37px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    }
.cajas h3{
    color: rgba(217,4,4,1);
    font-size: 28px;
    font-weight: 600;
    margin: 7px 0 0 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;

}
.cajas p{
    font-size: 17px;
    margin: 10px;
    text-align: justify;
}
.cajas:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    text-align: justify;
}
.cajas img{
    width: auto;
	margin-left: 50px;
}
#pie {
    height: 50px;
    color: rgba(10,9,9,1.00);
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    background-color: rgba(244,124,126,1.00);
}

   
body {

	}

